/* General */
$scale: 16px;                    /* main font size */ 
$borderRadius: 8px;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration: .3s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 
