<div class="layout-topbar">
    <a class="" routerLink="">
        <img src="/assets/images/bluAX_by-ds_horizontal_gray+blue.svg" width="200" height="54" class="block"
            alt="BluAX by Digital Shovel" />
    </a>

    <div class="layout-topbar-menu">
        <button *ngIf="!isAPMode" #menubutton class="p-button p-button-inverted p-button-full-width p-button-icon p-button-mobile-only"
            (click)="layoutService.onMenuToggle()">
            <img src="../../assets/images/icons/icon_sidebar-expand_16x16.svg" alt="Sidebar Expand Icon"><span
                class="p-button-label">Expand Sidebar</span>
        </button>
    </div>

</div>